@model Juega.Models.Juega.RatingJugadorModel


<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<link href="~/Content/rating.css" rel="stylesheet" />
<link href="~/Content/SaleStyle.css" rel="stylesheet" />

<script src="/Scripts/jquery-1.9.1.js"></script>
<script src="/Scripts/jquery-migrate-1.1.1.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/scripts/jquery.validate.unobtrusive.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive-custom-for-bootstrap.js"></script>
<script src="/Scripts/bootstrap.js"></script>


<div class="well span6" id="DivRate">
    <div class="container" style="width: auto;">
        <button type="button" class="btn btn-inverse" data-toggle="collapse" data-target="#demo">
            Escribir un comentario<br />
        </button>
        <div id="demo" class="collapse off">

            <h5 class="text-success">Tu valoracion <small>@Model.Jugador</small></h5>

            <input id="new_title" name="name" placeholder="Titulo" value="@Model.Titulo" type="text" maxlength="20">

            <textarea id="new_message" name="new_message" maxlength="140" aria-valuetext="@Model.Comentario" placeholder="Escribe tu comentarario" rows="5"></textarea>

            <div id="starToRate" data-score="@Model.Valor"></div>

            <input id="ratingValue" type="text" placeholder="Text input" hidden="hidden" value="@Model.Valor">

            <button class="btn btn-info" id="btnRating" type="submit">Publicar</button>
        </div>
        <h5 class="text-success">Valoraciones de usuarios <small>@Model.Jugador</small></h5>

        @Html.HiddenFor(x => x.IdJugador)

        <div class="well span3">
            <div class="container" style="width: auto;">
                <small>5 estrellas (@Model.Start5Avg.ToString()%) - @Model.Start5Count.ToString() </small>
                <div class="progress progress-info">
                    <div class="bar" style="width: @Model.Start5Avg.ToString()%;"></div>
                    <div class="bar" style="width: 40%;"></div>
                </div>
                <small>4 estrellas (@Model.Start4Avg.ToString()%) - @Model.Start4Count.ToString() </small>
                <div class="progress progress-success">
                    <div class="bar" style="width: @Model.Start4Avg.ToString()%"></div>
                </div>
                <small>3 estrellas (@Model.Start3Avg.ToString()%) - @Model.Start3Count.ToString() </small>
                <div class="progress progress-warning">
                    <div class="bar" style="width: @Model.Start3Avg.ToString()%"></div>
                </div>
                <small>2 estrellas (@Model.Start2Avg.ToString()%) - @Model.Start2Count.ToString() </small>
                <div class="progress progress-danger">
                    <div class="bar" style="width: @Model.Start2Avg.ToString()%"></div>
                </div>
                <small>1 estrella (@Model.Start1Avg.ToString()%) - @Model.Start1Count.ToString() </small>
                <div class="progress progress-inverse">
                    <div class="bar" style="width: @Model.Start1Avg%"></div>
                </div>
            </div>
        </div>
     
         
            <div style="text-align: center;">
                <small><strong>Calificación promedio</strong> </small>
                <h2>@Model.PromedioValoraciones</h2>

                <div id="starBegin" data-score="@Model.PromedioValoraciones"></div>

                <div style="text-align: center;">
                    <small><strong>@Model.CantidadValoraciones</strong></small>
                </div>
            </div> 
    </div>
</div>
