@model Juega.BDD.ComplejoDeportivo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ComplejoDeportivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coodernadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coodernadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaElimino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaElimino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.IdUsuarioSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.IdUsuarioSeguridad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
