@model Juega.BDD.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuarioSeguridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsEspectador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsEspectador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsAdminCancha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsAdminCancha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsAdminEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsAdminEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsJugador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsJugador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaElimino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaElimino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.IdUsuarioSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.IdUsuarioSeguridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario2.IdUsuarioSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario2.IdUsuarioSeguridad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
