@model Juega.BDD.Equipo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaElimino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaElimino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.IdUsuarioSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.IdUsuarioSeguridad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEquipo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
