<!-- START Sidebar (left)-->
@using Microsoft.AspNet.Identity


<script src="~/app/controller/PageMenuCtrl.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.min.js"></script>




<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <ul class="nav">
            <li class="has-user-block">
                <div id="user-block" class="collapse">
                    <div class="item user-block">

                        <div class="user-block-picture">
                            <div class="user-block-status">
                                <img src="~/Content/Images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                                <div class="circle circle-success circle-lg"></div>
                            </div>
                        </div>

                        <!-- Name and Job-->
                        <div class="user-block-info">

                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <ul class="nav navbar-nav navbar-right">
                                        <li>

                                            <span class="user-block-name">Hola, @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </span>

                                        </li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Registrarme", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Iniciar sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                    <li>@Html.ActionLink("Olvide mi clave", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }


                        </div>
                    </div>
                </div>
            </li>

            @if (Request.IsAuthenticated)
            {

                <li class="nav-heading">
                    <span>Main Navigation</span>
                </li>

                @*<li class="container" ng-app="appMenuPrincipal" ng-controller="PageMenuCtrl">

                        <li ng-repeat="item in ListaMenu">
                            <span> {{item.Descripcion}} </>
                        </li>
                    </li>*@



                <li class="@Html.isActive(controller: "Roles")">
                    <a href="#admin" title="Administracion" data-toggle="collapse">
                        <em class="icon-settings"></em>
                        <span> Administracion </span>
                    </a>
                    <ul id="admin" class="nav sidebar-subnav collapse">
                        <li class="sidebar-subnav-header">Roles</li>

                        <li class="@Html.isActive("Roles", "Index")">
                            <a href="@Url.Action("Index", "Roles")" title="Roles">
                                <em></em>
                                <span>Roles</span>
                            </a>
                        </li>

                        <li class="@Html.isActive("Roles", "ManageRole")">
                            <a href="@Url.Action("ManageRole", "Roles")" title="Administrar permisos">
                                <em></em>
                                <span>Administrar permiso</span>
                            </a>
                        </li>


                        <li class="@Html.isActive("Menu", "Index")">
                            <a href="@Url.Action("Index", "Menu")" title="Menu">
                                <em></em>
                                <span>Menu</span>
                            </a>
                        </li>

                    </ul>
                </li>




                <li class="nav-heading">
                    <span>Components</span>
                </li>




                <li class="nav-heading">
                    <span>More</span>
                </li>


                <li class="@Html.isActive(controller: "ComplejoDeportivo")">
                    <a href="@Url.Action("Index", "ComplejoDeportivo")" title="Complejos deportivos">
                        <em class="icon-trophy"></em>
                        <span>Complejos Deportivos</span>
                    </a>
                </li>


                <li class="@Html.isActive(controller: "Canchas")">
                    <a href="@Url.Action("Index", "Canchas")" title="Canchas">
                        <em class="icon-trophy"></em>
                        <span>Canchas</span>
                    </a>
                </li>

                <li class="@Html.isActive(controller: "Perfil_Usuario")">
                    <a href="@Url.Action("Index", "Perfil_Usuario")" title="Jugador">
                        <em class="icon-trophy"></em>
                        <span>Jugador</span>
                    </a>
                </li>

            }

        </ul>
    </nav>
</div> 