@model Juega.Models.Juega.CanchaModel
 

<h3>Informacion de la cancha</h3>

<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="~/Content/bwizard.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-fileupload.min.css" rel="stylesheet" />

@using (Html.BeginForm("Guardar", "Canchas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="container">
            <div id="wizard">
                <ol>
                    <li>Información de la cancha</li>
                    <li>Dimensiones</li>
                    <li>Fotografias</li>
                    <li>Finalizar</li>
                </ol>


                <div id="cancha">

                    <div class="editor-field">
                        @Html.HiddenFor(model => model.IdCancha, new { @class = "form-control required", @hidden = "hidden" })
                        @Html.HiddenFor(model => model.FotoPrincipal, new { @class = "form-control required", @hidden = "hidden" })
                    </div>

                    <label for="Nombre">Complejo al que pertenecera</label>
                    <div class="editor-field">
                        @Html.DropDownList("IdComplejo",null, htmlAttributes: new { @class = "form-control required" })
                        @Html.ValidationMessageFor(model => model.IdComplejo, "", new { @class = "text-danger" })
                    </div>


                    <br />
                    <br />
                    <label for="Nombre">* Nombre de la cancha</label>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control required" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>


                    <fieldset>
                        <br />
                        <br />
                        <p>(*) Obligatorio</p>
                    </fieldset>
                </div>

                <div id="Dimensiones">


                    <label for="Nombre">Metro de Largo</label>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Largo, new { @class = "form-control required" })
                        @Html.ValidationMessageFor(model => model.Largo)
                    </div>


                    <br />
                    <br />
                    <label for="Nombre">Metro de Ancho</label>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Ancho, new { @class = "form-control required" })
                        @Html.ValidationMessageFor(model => model.Ancho)
                    </div>

                    <br />
                    <br />
                    <label for="Nombre">* Capacidad de espectadores</label>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Espectadores, new { @class = "form-control required", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.Espectadores)
                    </div>
                </div>


                <div id="fotos">
                    <p>Ruta: <small>@Html.ValueFor(model => model.FotoPrincipal)</small></p>
                    @Html.FileFor(model => model.Attachment)
                    <div class="container">
                        <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
                            <img src="@Model.FotoPrincipal" class="img-responsive">
                        </div>
                    </div>
                   
                    
                </div>

                <div id="Finalizar">
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">@ViewBag.Accion</button>
                        @Html.ActionLink("Cancelar", "Inicio", "Canchas", new { @class = "btn " })
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/bwizard.min.js"></script>
<script src="~/Scripts/bootstrap-fileupload.js"></script>


<script type="text/javascript">
    $("#wizard").bwizard();
</script>
